<html lang="en" xmlns:background-size="http://www.w3.org/1999/xhtml">
<head>
    <!-- Background image -->

    <title>LECOINCOIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body  class="alert alert-success" role="alert">
<div class="alert alert-success" role="alert">

<!-- Background image -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Qui sommes-nous</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Achat <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"> Femme</a></li>
                    <li><a href="#"> Homme</a></li>

                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="annonce/index"><span class="glyphicon glyphicon-log-in"></span> Faire une annonce</a></li>
            <li><a href="user/index"><span class="glyphicon glyphicon-user"></span> Administrateur</a></li>
        </ul>
    </div>
</nav>





    <center>
        <h1>BIENVENUE CHEZ LECOINCOIN!!</h1>
    </center>
</div>



</body>
</html>
